* {
    box-sizing: border-box;
}
body {
    background: linear-gradient(135deg, #1e1e2f, #3a0ca3, #4361ee);
    min-height: 100vh;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}
h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}
.todo-card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
@media (max-width: 600px) {
    form {
        flex-direction: column;
        gap: 10px;
    }

    input {
        margin-right: 0;
    }
}
input {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 12px;
    color: white;
    outline: none;
    backdrop-filter: blur(5px);
    margin-right: 20px;
}
input:focus {
    border-color: #4cc9f0;
    box-shadow: 0 0 10px #4cc9f0;
}
::placeholder {
    color:#ffffff;;
}
button {
    background: linear-gradient(135deg, #7209b7, #4361ee);
    border: none;
    border-radius: 20px;
    padding: 12px 18px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}
button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(67, 97, 238, 0.6);
}
.todo-list {
    background: rgba(114, 9, 183, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding-top: 10px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    align-items: center;
}
h2 {
    text-align: center;
    margin-top: 20px;
}
.todo-list-form {
    background: #8c7878;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.todo-info {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.todo-sobre{
    flex: 1;
    background: rgba(58, 12, 163, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.todo-contato{
    flex: 1;
    background: rgba(76, 201, 240, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
ul {
    list-style: none;
    padding: 0 20px;
}
.btn-excluir {
    background: crimson;
    color: white;
}
.btn-excluir:hover {
    box-shadow: 0 0 15px crimson;
}
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 10px 20px;
    backdrop-filter: blur(5px);
}
#todo-list li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}